#map-container {
    position: relative;
    height: 100vh;
}

#map {
    height: 100%;
    z-index: 0; 
}

#category-manager {
    position: absolute;
    top: 100px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1; 
}
